<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="imageFile" class="form-label">Seleccione una imagen</label>
                      <input type="file" class="form-control"  accept="image/png, image/jpeg" id="imageFile" placeholder="Seleccione imagen" (change)="onFileSelected($event)">
                    </div>
                    
                    <div class="mb-3">
                      <label for="name" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="name" placeholder="Ingresa nombre"
                        formControlName="name">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresa email"
                          formControlName="email">
                    </div>
                    
                    <div class="mb-3">
                        <label for="phone" class="form-label">Ingrese telefono</label>
                        <input type="text" class="form-control" id="phone" placeholder="Ingresa telefono"
                          formControlName="phone">
                    </div>

                    <div class="mb-3">
                        <label for="specialty" class="form-label">Ingrese especialidad</label>
                        <input type="text" class="form-control" id="specialty" placeholder="Ingrese especialidad"
                          formControlName="specialty">
                    </div>
                    <button type="submit" class="btn btn-primary">Guradar</button>
                </form>  
                
              </div>
            </div>
        </div>
    </div>
</div>