<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                
                <div class="d-flex mb-4 justify-content-between align-items-center">
                  <h3>Detalle de PACS</h3>
                  <button class="btn btn-primary" [routerLink]="['/pacs-configurations/register']">Registrar PACS</button>
                </div>
  
                <hr class="my-4">

                <div class="table-responsive">
                  @if (domains.length == 0) {
                    <div class="alert alert-outline-primary d-flex align-items-center" style="width: 100%;" role="alert">
                      <span class="fas fa-info-circle text-primary fs-5 me-3"></span>
                      <p class="mb-0 flex-1">¡Aún no tienes datos!</p>
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  }
                  <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1">
                    <div class="table-responsive scrollbar ms-n1 ps-1">
                      <table class="table table-sm fs-9 mb-0">
                        <thead>
                          <tr>
                            <th class="sort align-middle" scope="col">ITITLE</th>
                            <th class="sort align-middle" scope="col">IP</th>
                            <th class="sort align-middle pe-3" scope="col">PUERTO</th>
                            <th class="sort align-middle" scope="col">ESTATUS</th>
                            <th class="sort align-middle" scope="col">ACCIONES</th>

                          </tr>
                        </thead>
                        <tbody class="list" id="members-table-body">
                          @for (domain of domains; track domain.id) {
                          <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="customer align-middle white-space-nowrap">
                              <a class="d-flex align-items-center text-body text-hover-1000" style="cursor: pointer;">
                                <h6 class="mb-0 ms-3 fw-semibold" [routerLink]="['/pacs-configurations/', domain.id]">{{ domain.title }}</h6>
                              </a>
                            </td>
                            <td class="email align-middle white-space-nowrap">{{ domain.ipAddress }}</td>
                            <td class="mobile_number align-middle white-space-nowrap">{{ domain.port }}</td>
                            <td class="city align-middle white-space-nowrap text-body">
                              @if (domain.isActive) {
                                <p class="fs-3 fw-normal mb-0"><i class="ti ti-check fs-7 text-success"></i></p>
                              } @else {
                                <p class="fs-3 fw-normal mb-0"><i class="ti ti-x fs-7 text-warning"></i></p>
                              }
                            </td>
                            <td>
                              <div class="btn-reveal-trigger position-static">
                                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                                <div class="dropdown-menu dropdown-menu-end py-2">
                                  <a class="dropdown-item"  [routerLink]="['/pacs-configurations/', domain.id]">Editar</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item text-danger" style="cursor: pointer;">Eliminar</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                    <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                      <nav aria-label="Page navigation example" [class.disabled]="true">
                        <ul class="pagination">
                          <li class="page-item" [class.disabled]="pagination.currentPage === 0"><a class="page-link" (click)="navigate(pagination.currentPage - 1)">Anterior</a></li>
                          @for (item of pagination.items; track $index) {
                            <li class="page-item"><a class="page-link" [class.disabled]="item.index === pagination.currentPage" [ngClass]="{ 'active': item.index === pagination.currentPage }" (click)="navigate(item.index)">{{ item.name }}</a></li>
                          }
                          <li class="page-item" [class.disabled]="pagination.currentPage === (pagination.totalPages - 1)"><a class="page-link" (click)="navigate(pagination.currentPage + 1)">Siguiente</a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <app-footer></app-footer>
  </div>