<div class="container-fluid">
  <!--  Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body p-4">
          <div class="d-flex mb-4 justify-content-between align-items-center">
            <h3>Detalle de Usuarios</h3>
            <button
              *hasPermission="'MANAGE_USERS'"
              class="btn btn-primary"
              [routerLink]="['/users/register']"
            >
              Registrar Usuario
            </button>
          </div>

          <hr class="my-4" />

          <div class="table-responsive">
            <div
              class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1"
            >
              <div class="table-responsive scrollbar ms-n1 ps-1">
                <table class="table table-sm fs-9 mb-0">
                  <thead>
                    <tr>
                      <th class="sort align-middle" scope="col">
                        NOMBRE DE USUARIO
                      </th>
                      <th class="sort align-middle" scope="col">ROL</th>
                      <th class="sort align-middle" scope="col">EMAIL</th>
                      <th class="sort align-middle pe-3" scope="col">
                        ESTATUS
                      </th>
                      <th class="sort align-middle pe-3" scope="col">
                        ACCIONES
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list" id="members-table-body">
                    @for (user of users; track user.id) {
                      <tr
                        class="hover-actions-trigger btn-reveal-trigger position-static"
                      >
                        <td class="customer align-middle white-space-nowrap">
                          <a
                            class="d-flex align-items-center text-body text-hover-1000"
                            style="cursor: pointer"
                          >
                            <div class="avatar avatar-m">
                              <img
                                class="rounded-circle"
                                [src]="
                                  user?.photo
                                    | fileUrl
                                      : './assets/theme/assets/img/user.png'
                                "
                                alt=""
                                [alt]="user.photo"
                              />
                            </div>
                            <h6
                              class="mb-0 ms-3 fw-semibold cursor-pointer"
                              [routerLink]="['/users/', user.id]"
                            >
                              {{ user.username }}
                            </h6>
                          </a>
                        </td>
                        <td class="align-middle white-space-nowrap">
                          <span *ngFor="let role of user.roles">
                            {{ role.name }}
                          </span>
                        </td>
                        <td class="email align-middle white-space-nowrap">
                          {{ user.email }}
                        </td>
                        <td class="align-middle white-space-nowrap">
                          <span
                            [ngClass]="{
                              'badge bg-light-success text-success':
                                user.status === 'ACTIVE',
                              'badge bg-light-danger text-danger':
                                user.status === 'INACTIVE',
                            }"
                          >
                            {{ user.status }}
                          </span>
                        </td>
                        <td>
                          <div class="btn-reveal-trigger position-static">
                            <button
                              class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10"
                              type="button"
                              data-bs-toggle="dropdown"
                              data-boundary="window"
                              aria-haspopup="true"
                              aria-expanded="false"
                              data-bs-reference="parent"
                            >
                              <span class="fas fa-ellipsis-h fs-10"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end py-2">
                              <a
                                class="dropdown-item"
                                [routerLink]="['/users/', user.id]"
                                >Editar</a
                              >
                              <div class="dropdown-divider"></div>
                              <a
                                class="dropdown-item text-danger"
                                style="cursor: pointer"
                                >Eliminar</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div
                class="row align-items-center justify-content-between py-2 pe-0 fs-9"
              >
                <nav
                  aria-label="Page navigation example"
                  [class.disabled]="true"
                >
                  <ul class="pagination">
                    <li
                      class="page-item"
                      [class.disabled]="pagination.currentPage === 0"
                    >
                      <a
                        class="page-link"
                        (click)="navigate(pagination.currentPage - 1)"
                        >Anterior</a
                      >
                    </li>
                    @for (item of pagination.items; track $index) {
                      <li class="page-item">
                        <a
                          class="page-link"
                          [class.disabled]="
                            item.index === pagination.currentPage
                          "
                          [ngClass]="{
                            active: item.index === pagination.currentPage,
                          }"
                          (click)="navigate(item.index)"
                          >{{ item.name }}</a
                        >
                      </li>
                    }
                    <li
                      class="page-item"
                      [class.disabled]="
                        pagination.currentPage === pagination.totalPages - 1
                      "
                    >
                      <a
                        class="page-link"
                        (click)="navigate(pagination.currentPage + 1)"
                        >Siguiente</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
