<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <div class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="./assets/theme/assets/img/mediq.png" width="200" alt="">
                </div>
                
                <h3 class="text-center pb-4">Crear cuenta</h3>

                <form autocomplete="off" [formGroup]="signUpForm" (ngSubmit)="signUp()">
                  <div class="mb-3">
                    <label for="inputUserName" class="form-label">Nombre de usuarios</label>
                    <input type="text" class="form-control" id="inputUserName"
                      placeholder="Correo electrónico"
                      formControlName="username">
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email"
                      placeholder="Correo electrónico"
                      formControlName="email">
                  </div>

                  <div class="mb-4">
                    <label for="password" class="form-label">Contracseña</label>
                    <input type="password" class="form-control" id="password"
                      placeholder="Ingrese su contraseña"
                      formControlName="password">
                  </div>

                  <button
                    class="btn btn-primary px-5 w-100 text-nowrap"
                    type="submit" 
                    [disabled]="signUpForm.invalid">Crear cuenta</button>
                </form>

                <div class="text-center pt-4"><a class="fs-9 fw-bold" [routerLink]="['/auth/login']" >Ingresar a MedIQ</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>