.container-fluid {
    padding-top: 80px;
}

.mat-card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.mat-card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}