.container-fluid {
    padding-top: 80px;
}

  /* calendar.component.css */
:host ::ng-deep .fc .fc-button {
    background-color: #0085db; /* Customize as needed */
    color: white;
    border-color: #0a7bc6;
  }
  
  :host ::ng-deep .fc .fc-button:hover {
    background-color: #149bf5;
    border-color: #0a7bc6;
  }

  .fc-button-active {
    background-color: #0c6fb1;
    border-color: #0a7bc6;
  }


  /* calendar.component.css */
.fc-event {
  font-size: 14px;
}

.fc-event-description {
  font-style: italic;
  color: #333;
}

.fc-event .fc-event-start .fc-event-end .fc-event-future .fc-daygrid-event .fc-daygrid-dot-event {
  background-color: #0085db;
  color: #ffffff;
}

.fc-daygrid-day-events {
  background-color: #0085db;
  color: #ffffff;
}

.fc-daygrid-event-harness {
  background-color: #0085db;
  color: #ffffff;
}

.fc-event-title {
  background-color: #0085db;
  color: #ffffff; 
}