<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!--
                    <div class="mb-3">
                        <label for="type" class="form-label">Tipo</label>
                        <select class="form-select" id="type" formControlName="type">
                            <option value="MRI">MRI</option>
                            <option value="CT_SCAN">CT_SCAN</option>
                            <option value="X_RAY">X_RAY</option>
                        </select>
                    </div>
                    -->
                    <div class="mb-3">
                        <label for="examDate" class="form-label">Fecha de estudio</label>
                        <input type="date" class="form-control" id="examDate" placeholder="Ingresa fecha de estudio"
                          formControlName="examDate">
                    </div>
                    
                    <div class="mb-3">
                        <label for="type" class="form-label">Tipo</label>
                        <select class="form-select" id="type" formControlName="type" (change)="onSelectRadiologyExamType($event)">
                            @for (domain of radiologyExamTypes; track domain.id) {
                                <option [value]="domain.id">{{ domain.name }}</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="study" class="form-label">Estudio</label>
                        <select class="form-select" id="study" formControlName="study">
                            @for (domain of radiologyExamStudy; track domain.id) {
                                <option [value]="domain.id">{{ domain.name }}</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="result" class="form-label">Resultado</label>
                        <input type="text" class="form-control" id="result" placeholder="Resultado"
                          formControlName="result">
                    </div>
                    <button type="submit" class="btn btn-primary">Guradar</button>
                </form>  
              </div>
            </div>
        </div>
    </div>
</div>