<div class="row">
  <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body p-4">
          
          <div class="d-flex mb-4 justify-content-between align-items-center">
            <h3>{{title}}</h3>
          </div>
            
            <hr class="my-4">
            
            <form class="row" [formGroup]="form">
              <div class="mb-3 col-xm-12 col-md-6">
                <div class="flatpickr-input-container">
                  <div class="form-floating">
                    <input #appointmentDate
                          class="form-control datetimepicker"
                          type="text"
                          id="appointmentDate" placeholder="Selecciona fecha"
                          formControlName="appointmentDate" (change)="onDateSelected($event)"
                          data-options='{"disableMobile":true}'/>
                    <label class="ps-2" for="appointmentDate">Selecciona fecha</label>
                  </div>
                </div>
              </div>
              
              <div class="form-floating form-floating-advance-select mb-3 col-xm-12 col-md-6">
                <label class="ps-4" for="radiologyExamTypeId">Modalid</label>
                <select class="form-select" *ngIf="radiolodyExamTypes.length > 0" #examTypeSelectRef (change)="onSelectChange($event)" formControlName="radiologyExamTypeId" id="radiologyExamTypeId">
                  <option value="none" selected>No ha seleccionado una modalidad</option>
                  @for (domain of radiolodyExamTypes; track domain.id) {
                    <option [value]="domain.id"> [{{ domain.name }}] {{ domain.description }}</option>
                  }
                </select>
              </div>
            </form>

            <hr class="my-4">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col" class="w-10">Hora</th>
                  <th scope="col" class="w-75">Descripción</th>
                  <th scope="col" class="w-10">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let schedule of schedules;">
                  <th scope="row">{{ schedule.hour }}:{{schedule.minutes}}</th>
                  <td [ngStyle]="{'border-left': '4px solid ' + (schedule.color), 'padding-left': '8px'}">
                    <div class="fs-9">
                      @if(schedule?.appointment) {
                          Modalida: {{ schedule?.appointment?.examTypeName }}<br>
                          Doctor: [{{ schedule?.appointment?.doctorName }}] <br>
                          Consultorio: {{ schedule?.appointment?.medicalOfficeName }} <br>
                          Paciente: {{ schedule?.appointment?.patientFirstName }} {{ schedule?.appointment?.patientLastName }}
                        }
                    </div>
                  </td>
                  <td class="align-middle">
                    <div class="btn-reveal-trigger position-static">
                      <button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fas fa-ellipsis-h fs-10"></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end py-2">
                        <a class="dropdown-item cursor-pointer"  (click)="onTimeSelected(schedule.hour, schedule.minutes)">Agregar</a>
                        @if(schedule?.appointment) {
                          <a class="dropdown-item cursor-pointer"  (click)="sendToPacs(schedule.appointment.id)">Enviar a Pacs</a>
                          <a class="dropdown-item cursor-pointer"  (click)="cancelToPacs(schedule.appointment.id)">Cancelar a Pacs</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item cursor-pointer text-danger" style="cursor: pointer;" (click)="onCancel(schedule.appointment.id)">Cancelar</a>
                        }
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
