<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card w-100">
              <div class="card-body">
                <div class="container">

                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
                    <div class="mb-3 col-xm-12 col-md-6">
                      <label for="title" class="form-label">ITitle</label>
                      <input type="text" class="form-control" id="title" placeholder="Ingresa ITitle"
                        formControlName="title">
                    </div>

                    <div class="mb-3 col-xm-12 col-md-6">
                        <label for="ipAddress" class="form-label">Direción IP</label>
                        <input type="text" class="form-control" id="ipAddress" placeholder="Ingresa Direción IP"
                          formControlName="ipAddress">
                    </div>
                    
                    <div class="mb-3 col-xm-12 col-md-6">
                        <label for="port" class="form-label">Puerto</label>
                        <input type="text" class="form-control" id="port" placeholder="Ingresa Puerto"
                          formControlName="port">
                    </div>

                    <div class="mb-3 col-xm-12 col-md-6">
                      <div class="form-check">
                        <input 
                          type="checkbox" 
                          class="form-check-input" 
                          id="isActive" 
                          formControlName="isActive">
                        <label for="isActive" class="form-check-label">Activo</label>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Guradar</button>
                </form>  
                
              </div>
            </div>
        </div>
    </div>
</div>